@{
    ViewData["Title"] = "About Joel";
}

<div class="text-center">
    <h1 class="display-4">About Joel Hilton</h1>
    <p>See Joel perform live at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
    <p>Catch Joel's podcast at <a href="https://baconsale.com/">Baconsale</a></p>
    <a href="https://baconsale.com">
        <img src="../Assets/Img/BaconsaleKate.jpg" alt="Baconsale Podcast" height="400px"/>
    </a>
</div>